.idea

/vendor

.DS_Store
Thumbs.db

# ignore production files

/config/authclients.php
/config/console.php
/config/db.php
/config/params.php
/config/web.php
/rbac/assignments.php
/rbac/items.php
/rbac/rules.php

# ignore generated sitemaps files
/web/sitemap*.xml

# ignore folders
/web/uploads
/web/wp-content
/web/img/posts

# nginx production file
server/nginx/conf.d/rooland.conf
