.deals-index-list .list-view {
    display: flex;
    flex-wrap: wrap;
}

.deals-index-list [data-key] {
    display: flex;
    flex-basis: 500px;
    flex-grow: 1;
}

.deals-index-list .list-view .pagination {
    width: 100%;
}

.deals-index-list .deals-view {
    margin-top: 20px;
    background: #FFF;
    padding: 20px 0 20px 25px;
    border-radius: 10px;
    border: solid 1px #DCDCDC;
    margin-right: 15px;
}

.deals-index-filter {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.deals-index-filter li {
    padding: 12px 16px 8px 16px;
    color: #3fa41a;
}

.deals-index-filter a {
    text-decoration: underline;
    color: #fff;
}

.deals-index-filter a:hover {
    text-decoration: none;
    color: #fff;
}

.deals-index-filter li .fa,
.deals-index-filter li .far {
    margin-right: 10px;
}

.deals-view-item {
    display: flex;
}

.deals-view-item-left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.deals-view-item-right {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    flex-basis: 100px;
    flex-grow: 0;
}

.deals-view-thumbnail {
    border-radius: 5px;
    border: solid 1px #dcdcdc;
    padding: 4px;
}

.deals-view-button {
    padding-top: 10px;
}

.deals-view-title a,
.deals-view-title a:hover {
    color: #E13300;
}

.deals-view-footer {
    border-top: solid 1px #DDD;
    font-size: 11px;
    color: #7B848D;
    padding-top: 4px;
    padding-bottom: 10px;
}

.deals-view-footer .fa {
    margin: 0 5px 0 10px;
}

.deals-view-more {
    padding-top: 10px;
}

.deals-view-more a,
.deals-view-more a:hover {
    color: #3fa41a;
}

.deals-view {
    margin-top: 20px;
    background: #FFF;
    padding: 0 20px 10px 20px;
    border-radius: 10px;
    border: solid 1px #DCDCDC;
}

.deals-view .deals-view-thumbnail {
    margin-top: 20px;
}

.deals-view h3 {
    font-size: 24px;
    border-bottom: 1px solid #E13300;
    padding-bottom: 3px;
    color: #E13300;
}

.deals-view h3 a {
    text-decoration: none;
    color: #E13300;
}

.deals-view img,
.deals-view img {
    max-width: 100%;
}

.deals-view-footer {
    border-top: solid 1px #DDD;
    padding-top: 5px;
    font-size: 11px;
    color: #7B848D;
    margin-top: 10px;
}

.deals-view-footer .fa {
    margin: 0 5px 0 10px;
}

.deals-price {
    margin: 10px 0;
}

.deals-price .price-before {
    color: #7B848D;
    text-decoration: line-through;
}

.deals-price .price-after {
    color: #5cb85c;
}

.deals-coupon {
    margin: 10px 0 20px 0;
}

.deals-coupon span {
    padding: 10px;
    background: #f2f2f2;
    border: dashed 1px #5cb85c;
}

.deal-view-edit a,
.deals-view-content a,
.deals-view-footer a,
.comments a {
    color: #3fa41a;
}