.forum_topics_filter {
    list-style: none;
    display: flex;
    justify-content: center;
}

.forum_topics_filter li {
    padding: 5px 16px 5px 16px;
    color: #3fa41a;
    background: #3f8701;
    border-radius: 10px;
    margin: 0 10px;
}

.forum_topics_filter a {
    text-decoration: underline;
    color: #fff;
    font-weight: normal;
}

.forum_topics_filter a:hover {
    text-decoration: none;
    color: #fff;
}

.forum_topics_filter li .fa,
.forum_topics_filter li .far,
.forum_topics_filter li .fas {
    margin-right: 10px;
}

/* index */

.forum_index h1 {
    padding-bottom: 15px;
}

.forum_index_list {
    margin-top: 20px;
    background: #FFF;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px #DCDCDC;
    margin-right: 15px;
}

.forum_index_list__item {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #e9e9e9;
    background: #fff;
}

.forum_index_list__item:hover {
    background: #e9e9e9;
}

.forum_index_list__item__name a,
.forum_index_list__item__name a:hover {
    color: #E13300;
}

.forum_index_list__item__icon {
    font-size: 44px;
    padding-left: 15px;
    padding-right: 15px;
}

.forum_index_list__item__icon a,
.forum-index-list__item__name a {
    color: #3fa41a;
}

.forum_index_list__item__icon a:hover,
.forum-index-list__item__name a:hover {
    color: #3f8701;
}

/* topics */

.forum_topics_header,
.forum-index-header {
    color: #fff;
}

.forum_topics h1 {
    padding-bottom: 15px;
}

.forum_topics_list {
    margin-top: 20px;
    background: #FFF;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px #DCDCDC;
    margin-right: 15px;
}

.forum_topics_list__item {
    display: flex;
    border-bottom: 2px solid #e9e9e9;
    background: #fff;
    padding: 7px 0;
}

.forum_topics_list__item:hover {
    background: #e9e9e9;
}

.forum_topics_list__item__name {
    flex-grow: 1;
}

.forum_topics_list__item__name a,
.forum_topics_list__item__name a:hover {
    color: #E13300;
}

.forum_topics_list__item__name__title {
    font-weight: bold;
}

.forum_topics_list__item__name__user {
    font-size: 11px;
}

.forum_topics_list__item__name__user span{
    padding-right: 7px;
}

.forum_topics_list__item__name__user span a {
    color: #3fa41a;
}

.forum_topics_list__item__name__user span a:hover {
    color: #3f8701;
    text-decoration: underline;
}

.forum_topics_list__item__name__user .fa {
    margin-right: 5px;
}

.forum_topics_list__item__icon {
    font-size: 24px;
    padding-left: 15px;
    padding-right: 15px;
}

.forum_topics_list__item__comments,
.forum_topics_list__item__hits {
    display: flex;
    flex-basis: 100px;
    align-items: center;
    justify-content: center;
    border-left: 2px solid #e9e9e9;
}

.forum_topics_list__item__comments .fa-comments,
.forum_topics_list__item__hits .fa-eye {
    padding-right: 5px;
}

/* topic */

.forum_topic {
    background: #FFF;
    padding: 0 20px 10px 20px;
    border-radius: 10px;
    border: solid 1px #DCDCDC;
}

.forum_topic__footer {
    border-top: solid 1px #DDD;
    padding-top: 5px;
    font-size: 11px;
    color: #7B848D;
    margin-top: 10px
}

.forum_topic__footer .fa {
    margin: 0 5px 0 10px;
}

.forum_topic__item__title__edit a,
.forum_topic__footer a,
.comments a {
    color: #3f8701;
}

.forum_topic__item__title__edit a:hover,
.forum_topic__footer a:hover,
.comments a:hover {
    color: #3f8701;
}

h3.text-primary {
    text-decoration: none;
    color: #E13300;
}
