.planet-view {
    margin-top: 20px;
    background: #FFF;
    padding: 0 20px 10px 20px;
    border-radius: 10px;
    border: solid 1px #DCDCDC;
}

.planet-view h3 {
    font-size: 24px;
    border-bottom: 1px solid #3fa41a;
    padding-bottom: 3px;
    color: #3fa41a;
}

.planet-view h3 a {
    text-decoration: none;
    color: #3fa41a;
}

.planet-view img {
    max-width: 100%;
    padding-bottom: 10px;
    display: flex;
}

.planet-view__footer {
    border-top: solid 1px #DDD;
    padding-top: 5px;
    font-size: 11px;
    color: #7B848D;
    margin-top: 10px;
}

.planet-view__footer .fa {
    margin: 0 5px 0 10px;
}

.planet-admin {
    background: #FFF;
    padding: 0 20px 10px 20px;
    border-radius: 10px;
    border: solid 1px #fff;
}

.planet-view__permanent_link {
    float: right;
}

.planet-view__source_link {
    padding-top: 10px;
}