html,
body {
    height: 100%;
    background: #8fca58;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0 15px 20px;
}

.footer {
    text-align: center;
    color: #000;
}

.footer a,
.footer a:hover {
    color: #000;
}

.hljs {
    background: none !important;
}

pre {
    background: none;
    border: none;
    font-size: 14px;
}

/* Posts */

.content_footer {
    border-top: solid 1px #DDD;
    padding-top: 5px;
    font-size: 11px;
    color: #7B848D;
}

.content_footer .fa {
    margin: 0 5px 0 10px;
}

.content_header {
    margin-bottom: 20px;
    font-size: 11px;
    color: #7B848D;
}

.content_header .fa {
    margin: 0 5px 0 10px;
}

.content_share {
    border: 1px dashed #444953;
    font-size: 120%;
    margin: 20px auto 10px;
    padding: 10px;
    text-align: center;
}

.post-view {
    margin-top: 20px;
    background: #FFF;
    padding: 0 20px 10px 20px;
    border-radius: 10px;
    border: solid 1px #fff;
}

.post-view h1,
.post-view h1 a {
    color: #3fa41a;
    text-decoration: none;
    padding-bottom: 3px;
}

.post-view h2,
.post-view h2 a {
    color: #3fa41a;
    padding-bottom: 3px;
}

.post-view h3,
.post-view h3 a {
    color: #333;
    border: none;
    padding-bottom: 3px;
}

.post-view h4,
.post-view h4 a {
    border-bottom: 1px solid #a2a9b1;
    padding-bottom: 3px;
}

.post-view .index_title h3,
.post-view .index_title h3 a{
    font-size: 24px;
    color: #3fa41a;
    padding-bottom: 3px;
}

.post-view img {
    max-width: 100%;
}

.text-primary {
    color: #4F5B93;
    border-bottom: none !important;
}

.not-set {
    color: #C55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #A94442;
    background: #FDF7F7;
    border-left: 3px solid #EED3D7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-inverse {
    background: #333333;
    border-bottom: solid 4px #8fca58;
}

.navbar-brand {
    text-decoration: none;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-brand span {
    color: #8fca58;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
    text-decoration: none;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #8fca58;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #8fca58;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #8fca58;
}

/* Links */

a {
    color: #4F5B93;
    text-decoration: underline;
}

a:hover {
    color: #8892BF;
}

/* Buttons */

.btn-primary {
    background: #4F5B93;
    border-color: #8892BF;
}

.btn-primary:hover {
    background: #8892BF;
    border-color: #4F5B93;
}

/* Pagination */

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background: #8fca58;
    border-color: #ddd;
}

.pagination > li > a, .pagination > li > span {
    color: #8892BF;
}

.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* Comments */

.comment-body {
    background: #F5F5F5;
    border-radius: 5px;
    padding: 20px 20px 20px;
}

ul.comments li {
    clear: both;
    padding: 10px 0 0 115px;
}

@media screen and (max-width: 768px) {

    ul.comments li {
        padding: 10px 0;
    }

    .comment-user-photo {
        display: none;
    }

    .post-view .index_title h3, .post-view .index_title h3 a {
        border: none;
    }

}

.comment-user-photo {
    float: left;
    padding: 5px;
    margin-left: -115px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

ul.comments .comment-arrow {
    border-bottom: 15px solid transparent;
    border-right: 15px solid #F4F4F4;
    border-top: 15px solid transparent;
    height: 0;
    left: -15px;
    position: absolute;
    top: 28px;
    width: 0;
}

.comment-permament-link {
    float: right;
}

.dt-published {
    color: #888;
    font-size: 0.8em;
}

.comment-username {
    border-bottom: 1px solid #DDD;
    margin: 5px 0;
    padding: 0 0 3px;
}

.comment-actions .fa {
    padding-left: 10px;
    padding-right: 4px;
}

.CodeMirror {
    border: 1px solid #DDD;
    padding: 20px;
    color: #333;
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6471;
    vertical-align: baseline;
}

h3.comment-box__title {
    border-bottom: none;
}

.widget {
    margin-top: 20px;
    padding: 0 20px 15px 20px;
    border-radius: 7px;
    background: #fff;
    box-shadow: 1px 1px 2px #aaa;
}

.widget-title {
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    padding: 10px 0;
    border-bottom: solid 2px #fff;
    text-align: center;
    background: #7bcc31;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.widget-content-social {
    color: #2a6194;
    background-color: #fff;
    padding: 15px 15px 10px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.widget-content-social .fa {
    padding-right: 10px;
}


.widget-content .fa.green {
    color: #58c649;
    padding-right: 8px;
}

.site-about,
.post-admin,
.post-create,
.post-update,
.post-my,
.user-index,
.comment-index,
.site-signup,
.site-login,
.site-request-password-reset,
.site-contact,
.category-create,
.category-update,
.category-admin {
    background: #FFF;
    padding: 0 20px 10px 20px;
    border-radius: 10px;
    border: solid 1px #fff;
}

.user-view {
    background: #fff;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    border: solid 1px #fff;
}

.breadcrumb {
    background: none;
}

.breadcrumb .active,
.breadcrumb a,
.breadcrumb a:hover {
    color: #000;
}
