.video-index-list .list-view {
    display: flex;
    flex-wrap: wrap;
}

.video-index-list .list-view .pagination {
    width: 100%;
}

.video-view {
    margin-top: 20px;
    background: #FFF;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    border: solid 1px #DCDCDC;
    margin-right: 15px;
}

.video-index-list [data-key] {
    flex-basis: 300px;
    flex-grow: 1;
}

.video-view-title {
    padding-top: 10px;
}

.video-view-title a,
.video-view-title a:hover {
    color: #E13300;
}

.video-view__footer {
    border-top: solid 1px #DDD;
    padding-top: 5px;
    font-size: 11px;
    color: #7B848D;
    margin-top: 10px;
}

.video-view__footer .fa {
    margin: 0 5px 0 10px;
}


.watch-view {
    margin-top: 20px;
    background: #FFF;
    padding: 0 20px 10px 20px;
    border-radius: 10px;
    border: solid 1px #DCDCDC;
}

.watch-view h3 {
    font-size: 24px;
    border-bottom: 1px solid #E13300;
    padding-bottom: 3px;
    color: #E13300;
}

.watch-view h3 a {
    text-decoration: none;
    color: #E13300;
}

.video-view img,
.watch-view img {
    max-width: 100%;
}

.watch-view__description {
    padding: 10px 0;
}

.watch-view__footer {
    border-top: solid 1px #DDD;
    padding-top: 5px;
    font-size: 11px;
    color: #7B848D;
    margin-top: 10px;
}

.watch-view__footer .fa {
    margin: 0 5px 0 10px;
}

.videoPlayer {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoPlayer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-index-filter {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.video-index-filter a {
    color: #fff;
    text-decoration: underline;
}

.video-index-filter a:hover {
    text-decoration: none;
    color: #fff;
}

.video-index-filter li {
    padding: 12px 16px 8px 16px;
}

.video-index-filter a {
    text-decoration: underline;
}

.video-index-filter a:hover {
    text-decoration: none;
}

.video-index-filter li .fa,
.video-index-filter li .far {
    margin-right: 10px;
}

.video-index {
    padding: 0 20px 10px 20px;
}

.video-admin,
.video-create,
.video-update,
.video-my {
    background: #FFF;
    padding: 0 20px 10px 20px;
    border-radius: 10px;
    border: solid 1px #fff;
}

@media screen and (max-width: 320px) {

    .post-filter {
        padding-left: 0;
        text-align: center;
    }

}
